div#player
  div.top-bar
    div.container
      div.row
        div.span2.controls
          ul.unstyled
            li
              a(href="#").sprite-icons-Back
            li
              a(href="#").sprite-icons-Play
            li
              a(href="#").sprite-icons-Next
        div.span1.controls
          ul.unstyled
            li
              a(href="#").sprite-icons-Search
        div.span1
          div.time-left 2:30
        div.span10.progress
          div.progress-bar
            span(style="width: 71%;")
        div.span2
          div.time-total 3:34
  div#main.container
    div.row
      div.span8
        div.album-cover
          div.album-cover-overlay
      div.album-info.span8
        h1
        h2
        ul.album-song-list.unstyled
