!!! 5
html(lang="en")
  head
    title rifffz
    link(href="/stylesheets/bootstrap.css", type="text/css", rel="stylesheet")
    link(href="/stylesheets/app.css", type="text/css", rel="stylesheet")
  body!= body
