!!! 5
html(lang="en")
  head
    title rifffz
    link(href="/stylesheets/bootstrap.css", type="text/css", rel="stylesheet")
    link(href="/stylesheets/app.css", type="text/css", rel="stylesheet")
    script(src="/js/jquery-1.7.1.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone-min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/client.js")
    script
      require('init');
  body!= body
