#library
  .top-bar
    .container
      .row
        .span1
        .span14.controls
          ul.unstyled
            li
              a(href="#import-album-modal", data-toggle="modal").import-album.sprite-icons-Add
            li
              a(href="#").sprite-icons-Search
        .span1
  .album-listing.container
    != partial('shared/import_modal')
    .row
      .span16
        ul.media-grid
          each album in albums
            li(data-artist=album.artist, data-album=album.name)
              a(href=album.path, style='background: url("'+album.cover+'");')
